<template>
    <q-dialog v-model="showExportDialog">
      <q-card
        class="relative bg-teal-11"
        style="min-width: 60vh; max-width: 100vw;"
      >
      <q-card-section class="row justify-center items-center full-height text-center text-h6">
        <div class="row justify-center items-center full-height text-center text-h6 " textarea="center">
          {{ 'Export Data' }}
        </div>

        <q-space/>

        <q-btn v-close-popup icon="close" flat round dense/>
      </q-card-section>
        <q-card-section>
          <pre>{{ data }}</pre>
        </q-card-section>

        <q-card-section class="text-center">
          <q-btn
            color="dark"
            text-color="white"
            class="q-mr-sm"
            label="Cancel"
            @click="closeExportDialog"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </template>
  
  <script>
  export default {
    name: 'ExportDialog',
    emit: ['close'],
    data() {
      return {
        showExportDialog: false,
        data: []
      }
    },
    methods: {
      closeExportDialog () {
        this.showExportDialog = false
      },
      openDialog(data) {
        this.showExportDialog = true
        this.data = data
        console.log(this.data)
      }
    }
  }
  </script>