<template>
  <q-card class="q-pa-sm bg-teal-11">
    <div class="q-pa-sm" outlined>
      <q-form @submit.prevent="submitForm" class="form">
        <q-input 
            class='q-py-lg' 
            v-model="formData.name" 
            filled        
            label="Name"
        />
  
        <q-input 
          class='q-pb-lg' 
          v-model="formData.surname" 
          filled          
          label="Surname"
        />
  
        <q-input 
          class='q-pb-lg'  
          v-model="formData.email" 
          filled 
          :rules="[(value) => {
              if(value) {
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return (value && emailRegex.test(value)) || 'Invalid email format';
              }
          }]"        
          required 
          label="Email"
        />
  
        <q-input 
          class='q-pb-lg' 
          type="number"
          v-model="formData.age" 
          :rules="[(value) => {
            if(value) {
              return (value >= 0 && value < 120) || 'Max age is 120'
            } 
          }]" 
          filled         
          required 
          label="Age" 
        />

        <q-select  
          filled v-model="formData.color" 
          :options="options"
          label="Favorite Color" 
        />

        <div class="row">
          <label class="col q-pa-md">Contact Preference:</label>
            <div class="col q-pa-md">
                <q-checkbox v-model="formData.contactEmail" label="Email"/>
            </div>

            <div class="col q-pa-md">
                <q-checkbox v-model="formData.contactPhone" label="Phone"/>
            </div>

            <div class="col q-pa-md">
                <q-checkbox v-model="formData.contactSMS" label="SMS"/>
            </div>
        </div>
        
        <div class="row">
          <q-btn
            class="col"
            color="primary" 
            label="Submit" 
            type="submit" 
          />
        </div>

      </q-form>
    </div>
  </q-card>
  </template>
  
  <script>
  export default {
    name: 'FormFile',
    emits: ['submit'],
    data() {
      return {
        options: [
        'Red','Green','Blue','White','Black'
        ],
        formData: {
          name: '',
          surname: '',
          email: '',
          age: null,
          color: '',
          contactEmail: false,
          contactPhone: false,
          contactSMS: false,
        },
      };
    },
    methods: {
      submitForm() {
        if (this.validateForm()) {
          this.$emit('submit', this.formData)
          this.clearForm();
        } else {
          alert('Validation failed. Please check your input.');
        }
      },
      validateForm() {
        return (
          this.isValidEmail(this.formData.email) &&
          this.formData.age < 120 &&
          (this.formData.contactEmail || this.formData.contactPhone || this.formData.contactSMS)
        );
      },
      isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
      },
      clearForm() {
        this.formData = {
          name: '',
          surname: '',
          email: '',
          age: null,
          color: '',
          contactEmail: false,
          contactPhone: false,
          contactSMS: false,
        };
      }
    },
  };
  </script>