<template>
  <q-tr
    :props="data"
  >
    <q-td
        key="number"
        :props="data"
        auto-width
    >
      {{ data.rowIndex + 1 }}
    </q-td>

    <q-td
        key="name"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ data.row.name }}
      </div>
    </q-td>

    <q-td
        key="surname"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ data.row.surname }}
      </div>
    </q-td>

    
    <q-td
        key="email"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ data.row.email }}
      </div>
    </q-td>

    <q-td
        key="age"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ data.row.age }}
      </div>
    </q-td>

    <q-td
        key="color"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ data.row.color }}
      </div>
    </q-td>

    <q-td
        key="contact"
        :props="data"
    >
      <div class="text-subtitle2 q-my-sm">
        {{ getContactPreferences(data.row) }}
      </div>
    </q-td>

    <q-td
        key="actions"
        :props="data"
    >
          <q-btn
              textarea="center"
              color="negative"
              class="q-mr-sm"
              text-color="white"
              label="Delete"
              @click="openConfirmation"
          />
    </q-td>

  </q-tr>
  <q-dialog v-model="areYouSure">
    <q-card class="bg-teal-11" style="max-width: 30vw">
      <q-card-section class="row justify-center items-center full-height text-center text-h6">
        <div class="row justify-center items-center full-height text-center text-h6 " textarea="center">
          {{ 'Are You Sure You Want To Delete?' }}
        </div>

        <q-space/>

        <q-btn v-close-popup icon="close" flat round dense/>
      </q-card-section>
      <q-card-section class="row justify-center items-center full-height text-center text-h6">
        <q-card-section class="text-center">

          <q-btn
              textarea="center"
              color="negative"
              class="q-mr-sm"
              text-color="white"
              label="OK"
              @click="deleteRow()"
          />

          <q-btn
              textarea="center"
              color="dark"
              label="Cancel"
              @click="closeConfirmation"
          />
        </q-card-section>
      </q-card-section>
    </q-card>

  </q-dialog>
</template>

<script>

export default {
  name: 'TableRow',
  emits: ['delete'],
  data() {
    return {
      areYouSure: false
    }
  },
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  mounted () {
    console.log(this.data)
  },
  methods: {
    getContactPreferences(data) {
      const preferences = [];
        if (data.contactEmail) preferences.push('Email');
        if (data.contactPhone) preferences.push('Phone Call');
        if (data.contactSMS) preferences.push('SMS');
        return preferences.join(', ');
    },
    openConfirmation () {
      this.areYouSure = true
    },
    closeConfirmation () {
      this.areYouSure = false
    },
    deleteRow () {
        this.$emit('delete', this.data.row)
    }
  }
}
</script>