<template>
  <div>
    <q-table
        class="sticky-header-table bg-teal-11"
        row-key="id"
        :rows-per-page-label="('Rows per page')"
        :rows="items"
        :columns="columns"
        :rows-per-page="25"
        virtual-scroll
        binary-state-sort
        style="height: calc(100vh - 130px);"
    >
      <template v-slot:body="props">
          <table-row
              :data="props"
              @delete="deleteRow"
          />
        </template>

        <template v-slot:top>
          <q-space></q-space>
          <q-btn debounce="300" color="primary" :disable="!items || items.length < 1" label="Export" @click="openExportDialog" />
          
          <export-dialog ref="exportDialog" /> 
        </template>
    </q-table>
  </div>
</template>

<script>

import TableRow from './TableRow.vue'
import ExportDialog from './ExportDialog.vue'

export default {
  name: 'TableLayout',
  emit: ['delete'],
  components: {
    TableRow,
    ExportDialog
  },
  props: {
    items: {
      type: Array,
      default () {
        return []
      }
    },
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 25,
        rowsNumber: 25
      },
    }
  },
  computed: {
    columns () {
      return [
        {
          label: '#',
          name: 'number',
          align: 'left'
        },
        {
          label: 'Name',
          name: 'name',
          align: 'left'
        },
        {
          label: 'Surname',
          name: 'surname',
          align: 'left'
        },
        {
          label: 'E-mail',
          name: 'email',
          align: 'left'
        },
        {
          label: 'Age',
          name: 'age',
          align: 'left'
        },
        {
          label: 'Favorite Color',
          name: 'color',
          align: 'left'
        },
        {
          label: 'Contact Preferences',
          name: 'contact',
          align: 'left'
        },
        {
          label: '',
          name: 'actions',
          align: 'left'
        }
      ]
    },
  },
  methods: {
    deleteRow (data) {
      this.$emit('delete', data)
    },
    openExportDialog () {
      const jsonFormattedData = JSON.stringify(this.items, null, 2);
      this.$refs.exportDialog.openDialog(jsonFormattedData)
    }
  }
}
</script>