// app global css in SCSS form
body, #q-app {
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 100vw; /* Set width to 100% of the viewport width */
    background-color: #009688; /* Replace with your desired background color */
  }