<template>
  <div class="row q-mt-xl">
    <div class="col-4">
      <div class="center-vertical">
        <FormFile @submit="handleFormSubmit"/>
      </div>
    </div>
    <div class="col-7">
      
      <div>
        <TableLayout :items="items" @delete="handleDelete"/>
      </div>
    </div>
  </div>
</template>

<script>

import FormFile from './../components/Form.vue'
import TableLayout from './../components/Table.vue'

export default {
  name: 'MainLayout',
  components: {
    FormFile,
    TableLayout
  },
  data () {
    return {
      items: []
    }
  },
  methods: {
    handleFormSubmit (newItem) {
      this.items = [...this.items , newItem]
    },
    handleDelete (data) {
      this.items = this.items.filter(e=> {
          if (data.name === e.name && data.surname === e.surname && data.email === e.email) {
            return false
          }
          return true
        }
      )
    }
  }
}
</script>

<style scoped>

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Ensure the container takes up the full height of the parent */
}
</style>
